{
  "$schema": "https://swc.rs/schema.json",
  "test": ".*.ts$",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "importMeta": true
    },
    "target": "es2022",
    "experimental": {
      "keepImportAssertions": true
    }
  },
  "isModule": true
}
